body, .grid, .row, .column {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    flex-flow: column;
}

body, .grid {
    background-color: rgb(28, 31, 77);
}

.header {
    background-color: rgb(45, 51, 134);
    border-radius: 3px;
    margin-bottom: 20px;
    text-align: center;
    max-width: 500px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    align-self: center;
}
h1 {
    color: white;
}

button {
    border-style: none;
    border-radius: 3px;
    background-color: rgb(37, 128, 233);
    color: white;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: 800;
}

.grid, .row {
    gap: 5px;
}

.grid {
    flex-flow: column;
    align-self: flex-start;
}

.column {
    min-height: 100px;
    min-width: 100px;
    background-color: yellowgreen;
}